:root {
  --blue: #138bde;
  --darkblue: #0067ba;
}
main {
  min-height: 80vh;
}
.collection-name {
  color: #138bde;
}
.collection-date {
  color: #0067ba;
  font-weight: 500;
}
.btn-cart {
  color: #0c83e2;
  background: rgb(0, 0, 0, 0.9);
  font-size: 1.21875rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.btn-cart:hover {
  color: rgb(0, 0, 0, 0.9);
  background: #2196f3 linear-gradient(180deg, #42a6f5, #2196f3) repeat-x;
}
.btn-cart.focus,
.btn-cart:focus {
  color: rgb(0, 0, 0, 0.9);
  background: #0c83e2 linear-gradient(180deg, #3196e6, #0c83e2) repeat-x;
  box-shadow: none;
}
.btn-cart.disabled,
.btn-cart:disabled {
  color: #fff;
  background-color: #2196f3;
  background-image: none;
}
.btn-cart:not(:disabled):not(.disabled).active,
.btn-cart:not(:disabled):not(.disabled):active,
.show > .btn-cart.dropdown-toggle {
  color: #fff;
  background-color: #0c7cd5;
  background-image: none;
}
.btn-cart:not(:disabled):not(.disabled).active:focus,
.btn-cart:not(:disabled):not(.disabled):active:focus,
.show > .btn-cart.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-checkout {
  color: #fff;
  background: rgb(0, 0, 0, 0.9);
  font-size: 1.015625rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.btn-checkout:hover {
  color: #fff;
  background: rgb(0, 0, 0, 0.8);
}
.btn-checkout.focus,
.btn-checkout:focus {
  color: #fff;
  background: rgb(0, 0, 0, 0.9);
  box-shadow: none;
}
.btn-checkout.disabled,
.btn-checkout:disabled {
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  background-image: none;
}
.btn-checkout:not(:disabled):not(.disabled).active,
.btn-checkout:not(:disabled):not(.disabled):active,
.show > .btn-checkout.dropdown-toggle {
  color: #fff;
  background: rgb(0, 0, 0, 0.9);
  background-image: none;
}
.btn-checkout:not(:disabled):not(.disabled).active:focus,
.btn-checkout:not(:disabled):not(.disabled):active:focus,
.show > .btn-checkout.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-news {
  color: #222;
  border-color: #222;
  font-size: 0.8125rem;
  font-weight: 400;
  border: 1.5px solid;
}
.btn-news:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-news.focus,
.btn-news:focus {
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}
.btn-news.disabled,
.btn-news:disabled {
  color: #222;
  background-color: transparent;
}
.btn-news:not(:disabled):not(.disabled).active,
.btn-news:not(:disabled):not(.disabled):active,
.show > .btn-news.dropdown-toggle {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-news:not(:disabled):not(.disabled).active:focus,
.btn-news:not(:disabled):not(.disabled):active:focus,
.show > .btn-news.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}
.btn-sizes {
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255, 255, 255);
  border: 2px solid transparent;
}
.btn-sizes:hover {
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255, 255, 255);
  border: 2px solid black;
  outline-style: black;
  box-shadow: none;
}
.btn-sizes.focus,
.btn-sizes:focus {
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255, 255, 255);
  border: 2px solid black;
  outline-style: black;
  box-shadow: none;
}
.btn-sizes.active,
.btn-sizes:active {
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255, 255, 255);
  border: 2px solid black;
  outline-style: black;
  box-shadow: none;
}
.btn-sizes.disabled,
.btn-sizes:disabled {
  color: rgb(0, 0, 0, 0.8);
  background: rgb(255, 255, 255);
  box-shadow: none;
  background-image: none;
  border: none;
}
.btn-sizes:not(:disabled):not(.disabled).active,
.btn-sizes:not(:disabled):not(.disabled):active,
.show > .btn-sizes.dropdown-toggle {
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255, 255, 255);
  background-image: none;
}
.btn-sizes:not(:disabled):not(.disabled).active:focus,
.btn-sizes:not(:disabled):not(.disabled):active:focus,
.show > .btn-sizes.dropdown-toggle:focus {
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255, 255, 255);
  background-image: none;
  box-shadow: none;
}
.btn-login {
  color: #fff;
  background: rgb(0, 0, 0, 0.9);
  font-size: 0.8125rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.btn-login:hover {
  color: #fff;
  background: rgb(0, 0, 0, 0.8);
}
.btn-login.focus,
.btn-login:focus {
  color: #fff;
  background: rgb(0, 0, 0, 0.9);
  box-shadow: none;
}
.btn-login.disabled,
.btn-login:disabled {
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  background-image: none;
}
.btn-login:not(:disabled):not(.disabled).active,
.btn-login:not(:disabled):not(.disabled):active,
.show > .btn-login.dropdown-toggle {
  color: #fff;
  background: rgb(0, 0, 0, 0.9);
  background-image: none;
}
.btn-login:not(:disabled):not(.disabled).active:focus,
.btn-login:not(:disabled):not(.disabled):active:focus,
.show > .btn-login.dropdown-toggle:focus {
  box-shadow: none;
}
#username {
  text-decoration: none;
}
a.social {
  color: var(--darkblue);
}
a.social:hover {
  color: var(--blue);
}
div.dice {
  background: url("./screens/dice.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  overflow: hidden;
  -moz-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.3);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0, 0.9);
  font-family: "Shrikhand";
}
.centered-signin {
  font-family: "Shrikhand";
}
.centered-notfound {
  color: rgb(0, 0, 0, 0.9);
}
.bottom-footer {
  position: fixed;
  top: 100%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0, 0.9);
}
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(0, 183, 255, 0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 6s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.03),
      rgba(0, 255, 0, 0.015),
      rgba(0, 0, 255, 0.03)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 6s infinite;
}
