:root {
  --blue: #138bde;
  --darkblue: #0067ba;
}
main {
  min-height: 80vh;
}
.collection-name {
  color: #138bde;
}
.collection-date {
  color: #0067ba;
  font-weight: 500;
}
.btn-cart {
  color: #0c83e2;
  background: rgb(0, 0, 0, 0.9);
  font-size: 1.21875rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.btn-cart:hover {
  color: rgb(0, 0, 0, 0.9);
  background: #2196f3 linear-gradient(180deg, #42a6f5, #2196f3) repeat-x;
}
.btn-cart.focus,
.btn-cart:focus {
  color: rgb(0, 0, 0, 0.9);
  background: #0c83e2 linear-gradient(180deg, #3196e6, #0c83e2) repeat-x;
  box-shadow: none;
}
.btn-cart.disabled,
.btn-cart:disabled {
  color: #fff;
  background-color: #2196f3;
  background-image: none;
}
.btn-cart:not(:disabled):not(.disabled).active,
.btn-cart:not(:disabled):not(.disabled):active,
.show > .btn-cart.dropdown-toggle {
  color: #fff;
  background-color: #0c7cd5;
  background-image: none;
}
.btn-cart:not(:disabled):not(.disabled).active:focus,
.btn-cart:not(:disabled):not(.disabled):active:focus,
.show > .btn-cart.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-checkout {
  color: #fff;
  background: rgb(0, 0, 0, 0.9);
  font-size: 1.015625rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.btn-checkout:hover {
  color: #fff;
  background: rgb(0, 0, 0, 0.8);
}
.btn-checkout.focus,
.btn-checkout:focus {
  color: #fff;
  background: rgb(0, 0, 0, 0.9);
  box-shadow: none;
}
.btn-checkout.disabled,
.btn-checkout:disabled {
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  background-image: none;
}
.btn-checkout:not(:disabled):not(.disabled).active,
.btn-checkout:not(:disabled):not(.disabled):active,
.show > .btn-checkout.dropdown-toggle {
  color: #fff;
  background: rgb(0, 0, 0, 0.9);
  background-image: none;
}
.btn-checkout:not(:disabled):not(.disabled).active:focus,
.btn-checkout:not(:disabled):not(.disabled):active:focus,
.show > .btn-checkout.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-news {
  color: #222;
  border-color: #222;
  font-size: 0.8125rem;
  font-weight: 400;
  border: 1.5px solid;
}
.btn-news:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-news.focus,
.btn-news:focus {
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}
.btn-news.disabled,
.btn-news:disabled {
  color: #222;
  background-color: transparent;
}
.btn-news:not(:disabled):not(.disabled).active,
.btn-news:not(:disabled):not(.disabled):active,
.show > .btn-news.dropdown-toggle {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-news:not(:disabled):not(.disabled).active:focus,
.btn-news:not(:disabled):not(.disabled):active:focus,
.show > .btn-news.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}
.btn-sizes {
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255, 255, 255);
  border: 2px solid transparent;
}
.btn-sizes:hover {
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255, 255, 255);
  border: 2px solid black;
  outline-style: black;
  box-shadow: none;
}
.btn-sizes.focus,
.btn-sizes:focus {
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255, 255, 255);
  border: 2px solid black;
  outline-style: black;
  box-shadow: none;
}
.btn-sizes.active,
.btn-sizes:active {
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255, 255, 255);
  border: 2px solid black;
  outline-style: black;
  box-shadow: none;
}
.btn-sizes.disabled,
.btn-sizes:disabled {
  color: rgb(0, 0, 0, 0.8);
  background: rgb(255, 255, 255);
  box-shadow: none;
  background-image: none;
  border: none;
}
.btn-sizes:not(:disabled):not(.disabled).active,
.btn-sizes:not(:disabled):not(.disabled):active,
.show > .btn-sizes.dropdown-toggle {
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255, 255, 255);
  background-image: none;
}
.btn-sizes:not(:disabled):not(.disabled).active:focus,
.btn-sizes:not(:disabled):not(.disabled):active:focus,
.show > .btn-sizes.dropdown-toggle:focus {
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255, 255, 255);
  background-image: none;
  box-shadow: none;
}
.btn-login {
  color: #fff;
  background: rgb(0, 0, 0, 0.9);
  font-size: 0.8125rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.btn-login:hover {
  color: #fff;
  background: rgb(0, 0, 0, 0.8);
}
.btn-login.focus,
.btn-login:focus {
  color: #fff;
  background: rgb(0, 0, 0, 0.9);
  box-shadow: none;
}
.btn-login.disabled,
.btn-login:disabled {
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  background-image: none;
}
.btn-login:not(:disabled):not(.disabled).active,
.btn-login:not(:disabled):not(.disabled):active,
.show > .btn-login.dropdown-toggle {
  color: #fff;
  background: rgb(0, 0, 0, 0.9);
  background-image: none;
}
.btn-login:not(:disabled):not(.disabled).active:focus,
.btn-login:not(:disabled):not(.disabled):active:focus,
.show > .btn-login.dropdown-toggle:focus {
  box-shadow: none;
}
#username {
  text-decoration: none;
}
a.social {
  color: var(--darkblue);
}
a.social:hover {
  color: var(--blue);
}
img.dice {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
  border-radius: 1%;
}
